NUM_SLOTS = {{ htcondor_num_slots }}
NUM_SLOTS_TYPE_1 = {{ htcondor_num_slots }}
SLOT_TYPE_1 = {{ htcondor_slot_type_1_share }}
SLOT_TYPE_1_PARTITIONABLE = {{ htcondor_slot_type_1_partitionable | string | lower }}
